---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contato">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contato</Fragment>
      <Fragment slot="desc">Estamos aqui para ajudar.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contate o Geta</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Tem algo a dizer? Estamos aqui para ajudar. Preencha o formulário,
          envie um e-mail ou ligue para o telefone.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Av. Alcindo Cacela, 1523 - Umarizal, Belém - PA, Brasil, 66040-020</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:geta@cesupa.br"
              >geta@cesupa.br</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+55 (91) 987046021">+55 (91) 987046021</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
