---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import CardDownload from "@components/carddownload.astro";
import { Tweet, Vimeo, YouTube } from 'astro-embed';

const available = [
  {
    version: "Versão de Validação",
    name: "Android/iOS",
    ios: true,
    button: {
      text: "Ver tutorial",
      link: "/blog/como-usar-a-versao-validacao-do-tea-app",
    },
  }
];
---

<Layout title="Downloads">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Downloads</Fragment>
      <Fragment slot="desc"
        >Baixe o Tea App para o seu dispositivo.</Fragment
      >
    </Sectionhead>
  <div class="">
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {available.map((item) => <CardDownload available={item} />)}

      <div class="border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
        <Fragment slot="title"
        >Tutorial para Utilizar o app.</Fragment
      >
        <YouTube id="5giPG5RbCks" />
      </div>
    </div>
  </div>

  </Container>
</Layout>
